<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<mirrors>
		<mirror>
			<id>echovantage</id>
			<mirrorOf>*</mirrorOf>
			<name>EchoVantage Nexus</name>
			<url>http://mvn.echo-v.net/content/groups/public</url>
		</mirror>
	</mirrors>
	<servers>
		<server>
			<id>echovantage-releases</id>
			<username>ev-build</username>
			<password>{sqa11As/LIMHphOfDUXsW7lgvQtfaOAoCBUg2C68Udq5tCbByjNsQ3EsVS+4vsox}</password>
		</server>
		<server>
			<id>gpg.passphrase</id>
			<passphrase>{0JzeZvMqWQkHNPj0mHZ0UeSRq64pwgs1rAdO4NTaYFSZGNKMOwtsy83lIcPZ71MrUeTy7tX1mXNYezyn8jmyfaUCq+ZpA2VOfm4i9q8aiJU=}</passphrase>
			</server>
		<server>
			<id>ossrh</id>
			<username>fuwjax</username>
			<password>{lItfR1HRZaYHigMiK9fIYlA5drvBf/dbQTz1yv0dhphMyL7o8D2znGwl5OH59AMT}</password>
		</server>
	</servers>
	<activeProfiles>
		<activeProfile>release</activeProfile>
	</activeProfiles>
	<profiles>
		<profile>
			<id>ev-nexus</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>central</id>
					<name>Maven Central Override</name>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
						<checksumPolicy>fail</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<url>http://if-youre-using-this-url-something-is-wrong</url>
					<layout>default</layout>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://if-youre-using-this-url-something-is-wrong</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
						<checksumPolicy>fail</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>